@import "../ProductsBlock/productsBlock.css";

.catalog {
  padding: 36px 0px;
}

.catalog__column {
  grid-column: 3 span;
}

.catalog__wrapper {
  grid-column: 9 span;
}

.catalog__products {
  --column-gap: 20px;
  --elems: 3;
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--column-gap);
  row-gap: 36px;
}

.catalog__item {
  width: calc(
    (100% - ((var(--elems) - 1) * var(--column-gap))) / (var(--elems))
  );
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 48px;
}

.filters__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.filters__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.filters__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--dark-primary);
}

/* custom-checkbox */

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  gap: 12px;
}

.custom-checkbox__input {
  position: absolute;
  opacity: 0;
}

.custom-checkbox__icon {
  position: relative;
  flex-shrink: 0;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  width: 16px;
  height: 16px;
}

.custom-checkbox__icon::after {
  content: "";
  position: absolute;
  inset: -1px;
  z-index: 2;
  background-image: url("../../img/checkmark_checkbox.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: 0.3s ease;
}

.custom-checkbox__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--dark-primary);
}

.custom-checkbox__input:checked + .custom-checkbox__icon::after {
  opacity: 1;
}

.product {
  height: 462px;
}

.product__img {
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.product__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .catalog__products {
    --column-gap: 15px;
    --elems: 2;
  }

  .product__img {
    padding-bottom: 16px;
  }
  .product {
    height: 350px;
  }
}

@media (max-width: 767px) {
  .catalog__btn {
    gap: 12px;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
  }

  .catalog__btn svg {
    transition: all 0.3s ease;
  }

  .catalog__btn.active svg {
    rotate: 180deg;
  }

  .filters {
    position: absolute;
    visibility: hidden;
    padding: 10px 15px;
    left: 0;
    right: 0;
    background-color: var(--light-grey);
    transform: translateY(-20px);
    transition: all 0.3s ease;
    z-index: 100;
  }

  .filters.active {
    visibility: visible;
    transform: translateY(-10px);
  }

  .catalog__column {
    position: relative;
    grid-column: 12 span;
  }
  .catalog__wrapper {
    grid-column: 12 span;
  }
  .product {
    height: 250px;
  }

  .product__img {
    height: 70%;
  }
}
