@import url("./_vars.css");

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: calc(var(--container-width) + (var(--container-offset) * 2));
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--gap);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--white);
  cursor: pointer;
}

.btn-theme_dark {
  background: var(--dark-primary);
  transition: all 0.3s ease;
}

.btn-theme_dark:hover {
  filter: brightness(130%);
}

.btn-theme_transparency {
  background: rgba(249, 249, 249, 0.15);
  transition: all 0.3s ease;
}

.btn-theme_transparency:hover {
  filter: brightness(80%);
}

.btn-theme_light {
  color: var(--dark-primary);
  background: var(--light-grey);
  transition: all 0.3s ease;
}

.btn-theme_light:hover {
  filter: brightness(80%);
}

.btn-theme_white {
  color: var(--dark-primary);
  background: var(--white);
  transition: all 0.3s ease;
}

.btn-theme_white:hover {
  filter: brightness(80%);
}

@media (any-hover: hover) {
}

.form {
  display: flex;
}

.form__input {
  width: 354px;
  height: 56px;
  padding-left: 32px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-primary);
  background-color: var(--light-grey);
}

.form__input::placeholder {
  color: rgba(42, 37, 75, 0.2);
}

.centered {
  padding-top: 35px;
  text-align: center;
}

.title {
  font-family: var(--font-family);
  font-weight: 400;
}

.title--small {
  font-size: 24px;
  line-height: 140%;
}

.title-center {
  text-align: center;
}

.title--large {
  font-size: 32px;
}

.title--mb-small {
  margin-bottom: 30px;
}

.title--mb-large {
  margin-bottom: 51px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.error__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--dark-primary);
}

.products__not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--dark-primary);
}

/* loading roller */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: gray;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.catalog__btn {
  display: none;
}

@media (max-width: 768px) {
  .catalog__btn {
    display: inline-flex;
  }
}
